{% extends "base.html" %}

{% block content %}
<h1>Create chat</h1>
<form action="" method="post">
    <p>
        {{ form.name.label }}<br>
        {{ form.name(type="text") }}<br>
        {% for error in form.name.errors %}
            <div class="allert alert-danger" role="alert">
                {{ error }}
            </div>
        {% endfor %}
    </p>
    <p>
        All users with access to this chat, use <b>space</b> as a separator<br>
        {{ form.users(type="text") }}<br>
        {% for error in form.users.errors %}
            <div class="allert alert-danger" role="alert">
                {{ error }}
            </div>
        {% endfor %}
    </p>
    <a href="/profile">Cancel</a><br>
    <p>{{ form.submit(type="submit", class="btn btn-primary") }}</p>
    <p>{{ message }}</p>
</form>


{% endblock %}
