{% extends "base.html" %}

{% block content %}
<h1>This is a beta version of my website!</h1>
<p>Here are some links: </p>
<p><a href="/reglogin">registration and logging in</a></p>
<p><a href="/logout">log out</a></p>
<p><a href="/profile">your profile</a></p>
<p><a href="/">this page</a> (I don't know why you could possibly need it)</p>

<br><br><br><br>
<p>By the way, the website won't work without this gif</p>
<div class="tenor-gif-embed" data-postid="18099355" data-share-method="host" data-aspect-ratio="1.35593" data-width="25%"><a href="https://tenor.com/view/eminem-gif-18099355">Eminem GIF</a>from <a href="https://tenor.com/search/eminem-gifs">Eminem GIFs</a></div> <script type="text/javascript" async src="https://tenor.com/embed.js"></script>
{% endblock %}

