{% extends "base.html" %}

{% block content %}
<h1>Login and registration</h1>
<form action="" method="post">
    <p>
        {{ form.nickname.label }}<br>
        {{ form.nickname(type="text") }}<br>
        {% for error in form.nickname.errors %}
            <div class="allert alert-danger" role="alert">
                {{ error }}
            </div>
        {% endfor %}
    </p>
    <p>
        {{ form.password.label }}<br>
        {{ form.password(type="password") }}<br>
        {% for error in form.password.errors %}
            <div class="allert alert-danger" role="alert">
                {{ error }}
            </div>
        {% endfor %}
    </p>
    <p>{{ form.submit(type="submit", class="btn btn-primary") }}</p>
    <p>{{ message }}</p>
</form>
{% endblock %}
